body{
    text-align: center;
    font-family: sans-serif; 
}
#btn{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: grey;
    color: rgb(9, 9, 9);
    background-color: #9a9fa4;
    width: 150px;
    padding: 10px;
    outline: none;
    cursor: pointer; 
    border-radius: 7px;
}
#btn:hover{
    box-shadow: 1px 1px 10px black;
    color: wheat;
    background-color: red;
   }